---
title: Glauco Cardoso
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bundle.css">
    <link rel="stylesheet" href="https://use.typekit.net/jah3ebf.css">
    <script src="https://alceris.com/script.js" data-id="f4da3494a50ca3f9" async defer></script>
  </head>
  <body>
    <div class="bg"></div>
    <main class="container">
      {{ content | safe }}
    </main>
  </body>
</html>